{
  	"extends": "airbnb",

  	"parser": "babel-eslint",

    "plugins": ["react"],

  	"ecmaFeatures": {
  		"jsx": true,
      "classes": true
  	},

  	"env": {
  		"es6": true
  	},

  	"rules": {
	    "comma-dangle": 0,
      "react/jsx-quotes": 0,
      "indent": [2, "tab"],
      "no-trailing-spaces": 0
  	}
}