{
  	"extends": "airbnb",

  	"parser": "babel-eslint",

    "plugins": ["react"],

  	"ecmaFeatures": {
  		"jsx": true,
      "classes": true
  	},

  	"env": {
  		"es6": true
  	},

  	"rules": {
	    // disable requiring trailing commas
	    "comma-dangle": 0,
      
      // no need to worry about this
      "react/jsx-quotes": 0,
      
      "indent": [2, "tab"]
  	}
}