extends layout

block content
    .content
      p This will display content for the Goan Convention 2016 website.
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.