// MIXINS
@import 'mixins.styl'

// VARIABLES
headerHeight = 60px;

body
	margin 0px

// HEADER
.header {
	height headerHeight
	absPos(0, 0, null, 0)
	
	.text {
		text-align center
	}
}

// FOOTER
.footer {
	background-color black
	height 20px
	absPos(null, 0, 0, 0)

	.text {
		color white
		text-align center
		font-size small
		padding-top 2px
	}
}

// CONTENT
.content {
	absPos(headerHeight, 200px, 0, 0)
}

// MENU
@import 'menu.styl'

    
