body
	margin 0px

// FOOTER
.footer {
	background-color black
	height 20px
	position absolute
	bottom 0
	width 100%
    
	.text {
		color white
		text-align center
		font-size small
		padding-top 2px
	}
}
	

    
