/*
* Sets top, right, bottom, left properties when position is absolute
*/
absPos(top, right, bottom, left) {
	position absolute
	if (top != null) { top top }
	if (right != null) { right right }
	if (left != null) { left left }
	if (bottom != null) { bottom bottom }
}