// MIXINS
@import 'mixins.styl'

// VARIABLES
headerHeight = 60px;
footerHeight = 20px;

body
	margin 0px

// HEADER
.header {
	absPos(0, 0, null, 0)
	height headerHeight
	background-color black
	border-bottom 1px solid black
	color white
	opacity 0.8
	
	.text {
		font-size 40px
		font-family 'PT Sans Narrow', sans-serif
		padding 3px
		display inline-block
	}
	
	.main-menu-container {
		absPos(0, 0, 0, null)
		padding 8px 15px

		.text {
			font-size 16px
			display inline-block
			vertical-align middle
		}
		
		.button {
			padding 5px
			vertical-align middle
			background-color transparent
			color white
			border none
			cursor pointer
		}
		.button:focus {
			outline 0
		}
		.button:hover
		.button:active {
			opacity 0.8
		}
	}
}

// FOOTER
.footer {
	background-color black
	height footerHeight
	absPos(null, 0, 0, 0)

	.text {
		color white
		text-align center
		font-size small
		padding-top 2px
	}
}

// CONTENT
.content {
	absPos(headerHeight, 200px, 0, 0)
}

// MENU
@import 'menu.styl'

    
