@import 'nib'

// VARIABLES
headerHeight = 60px;
footerHeight = 20px;
menuWidth = 250px;

mainColour = #202020;
PTSansNarrow = 'PT Sans Narrow', sans-serif;

animDuration = 300ms;

// MOBILE
phone = "(max-width: 640px)";
phonePortrait = "(max-width: 640px) and (orientation: portrait)";
phoneLandscape = "(max-width: 640px) and (orientation: landscape)";
minHeight = "(max-height: 360px)";

// DEFAULT STYLE FOR BUTTON
button 
	border none
	cursor pointer
	background-color transparent
	outline none
	white-space nowrap
	color white
	font-family PTSansNarrow

button:hover, 
button:active 
	color #DCDCDC

// MAIN APP
body
	margin 0px
	font-family PTSansNarrow
	font-size 16px
	
.main-app
	absolute top 0 bottom 0 left 0 right 0
	transition right animDuration

@media phone {
	.main-app.pinned {
		right menuWidth
	}
}

@import 'header.styl'
@import 'footer.styl'
@import 'content.styl'
@import 'menu.styl'

    
