@import 'nib'

// VARIABLES
headerHeight = 60px;
footerHeight = 35px;
menuWidth = 250px;

mainColour = #202020;
defaultBlue = #00ABFC;
defaultOrange = #FF6A00;
offWhiteBackground = #FBFAF3;
highlightOrange = #FFCD90;

PTSansNarrow = 'PT Sans Narrow', sans-serif;
SourceSansPro = 'Source Sans Pro', sans-serif;

animDuration = 300ms;

// MOBILE
phone = "(max-width: 775px)";
phonePortrait = "(max-width: 640px) and (orientation: portrait)";
phoneLandscape = "(max-width: 640px) and (orientation: landscape)";

// DEFAULT STYLE FOR BUTTON
button 
	border none
	cursor pointer
	background-color transparent
	outline none
	white-space nowrap
	color white
	font-family PTSansNarrow

button:hover, 
button:active 
	color #DCDCDC

// DEFAULT STYLE FOR LINKS
a
	text-decoration none
	color white
	display inline-block
	cursor pointer

a:hover,
a:active 
	color #DCDCDC

a.disabled
	color white
	cursor default
	background #BBBBBB

a.disabled:hover,
a.disabled:active 
	color white

// MAIN APP
body
	margin 0px
	font-family PTSansNarrow
	font-size 16px
	
.main-app
	absolute top 0 bottom 0 left 0 right 0
	transition right animDuration

.page {
	padding-top headerHeight
	background #FBFAF3

	.page-content {
		background #FBFAF3
	}
}

.page-header {
	position relative

	.background {
		height 400px
		background rgba(0, 0, 0, 0.6)
		background-size cover
		background-position center
	}

	.page-title {
		font-size 300%
		text-align center
		padding 0px
		font-family SourceSansPro
		font-weight 300
		absolute left right bottom
		color white
		background-color rgba(0, 0, 0, 0.6)
	}
}

// size of icon
.fa.fa-1dot5x
	font-size 1.5em
	padding 10px

// things to hide when menu is pinned
@media phone {
	.main-app.pinned {
		right menuWidth

		// home
		.home {
			.tagline,
			.button-container,
			.event-details-container, 
			.copyright-info,
			.contact-us-container {
				display none
			}
		}

		// other pages
		.page .footer,
		.page-header,
		.page-content {
			display none
		}
	}
}

@import 'header.styl'
@import 'footer.styl'
@import 'menu.styl'
@import 'contact.styl'
@import 'eventcard.styl'

// pages
@import 'home.styl'
@import 'concert.styl'
@import 'committee.styl'
@import 'pastevents.styl'
@import 'comingsoon.styl'
@import 'sponsors.styl'
@import 'registration.styl'
@import 'schedule.styl'  
@import 'hotel.styl'
@import 'contests.styl'
@import 'gallery.styl'