.registration .whos-coming {
	text-align center
	display block
	font-size 160%
	padding-top 10px
	font-weight bold
	padding 10px 5px
	max-width 725px
	margin 0 auto
	
	.attendees-block {
		padding-top 10px
		.attendee-container {
			.left {
				text-align left
				width 505px
				display inline-block

				.last {
					padding-right 3px
					font-weight 600
				}
				.first {
					font-weight normal
					font-size 80%
				}
			}
			
			.right {
				text-align right
				width 215px
				display inline-block
				font-weight normal
				font-size 80%
			}
		}
	}
}

@media (max-width: 800px) {
	.registration .info.whos-coming {
		max-width 500px
		padding 10px 0px
		font-size 120%
		
		.attendees-block .attendee-container {
			padding-top 10px

			.left,
			.right {
				text-align center
				max-width 500px
			}
			
			.left {
				border-top 1px solid grey
				padding-top 5px
				width 100%
			}
		}
	}
}