.committee {
	.background{		
		background-image url('images/background-committee.png')
	}
	
	.contacts-container {
		display table
		
		.contacts-container-inner {
			display table-cell
			text-align center
		}
	}

	.footer {
		position relative
	}
}