.concert {
	font-family: SourceSansPro

	.background {
		background-image url('images/background/concert.png')
	}

	.concert-container {
		display table
		margin 10px auto
		text-align center
		
		.singer {
			border 1px solid defaultBlue
			margin 10px 10px 20px 10px
			
			.name {
				font-size 150%
				background defaultBlue
				padding 5px 10px
				margin 2px
			}
			
			.photo {
				margin 10px auto
				background-position center
				background-size cover
				border 1px solid black
				
				&.sonia {
					background-image url('images/concert/sonia.jpg')
					height 300px
					width 350px
				}
				&.varun {
					background-image url('images/concert/varun.jpg')
					height 300px
					width 350px
				}
				&.mukesh {
					background-image url('images/concert/mukesh.jpg')
					height 400px
					width 300px
				}
				&.mozwin {
					background-image url('images/concert/mozwin.jpg')
					height 300px
					width 300px
				}
			}

			.description {
				max-width 700px
				text-align justify
				border-top 1px solid defaultBlue
				padding 15px
				font-size 110%
				
				a {
					color defaultBlue
				}
				
				&.sonia a {
					padding-left 5px
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.concert .concert-container {
		border-width 0px
	}
}

@media (max-width: 600px) {
	.concert {
		font-size: 12px
	}
}