.contact {
	width 200px
	height 320px
	background-color white
	display inline-block
	border 1px solid lightgrey
	margin 20px
	vertical-align top
	box-shadow 1px 1px 5px 0px rgba(50, 50, 50, 0.75)

	.face-container{		
		height 150px
		width 150px
		margin 15px auto 5px auto
		border 5px solid defaultBlue
		border-radius 90px
		overflow hidden

		.face {
		    height 100%
		    width 100%
		    background-size cover
		    background-position center
		    border-radius 90px
		}
		.face.fa-question {
			padding-top 30px
			opacity 0.5
		}
	}
	
	.details {
		width 100%	
		text-align center	
		.name {
			padding 0px 5px 5px 5px 
			font-size 150%
		}
		
		.title-container {
			background-color defaultOrange
			color white
			padding 8px 0px
			height 42px
			display table
			width 100%
			
			.title {
				display table-cell
				vertical-align middle
			}
		}
		
		.social {
			.fa.fa-1dot5x {
			    color black
			}
			.fa.fa-1dot5x:hover {
				color #515151
			}
		}
	}
}

.ImgPurnima {
	background-image url('images/member/purnima.png')
}
.ImgArti {
	background-image url('images/member/arti.png')
}
.ImgMaia {
	background-image url('images/member/maia.png')
}
.ImgParijat {
	background-image url('images/member/parijat.png')
}
.ImgPooja {
	background-image url('images/member/pooja.png')
}
.ImgRadhika {
	background-image url('images/member/radhika.png')
}
.ImgReema {
	background-image url('images/member/reema.png')
}
.ImgRohin {
	background-image url('images/member/rohin.png')
}
.ImgVaibhavi {
	background-image url('images/member/vaibhavi.png')
}