// FOOTER
.footer {
	background-color mainColour
	height footerHeight
	width 100%
	absolute bottom

	.label {
		color white
		text-align center
		font-size 62% // 10px
		padding-top 3px
		
		/*On mobile, this is two lines when going from pinned to unpinned
	      state. Add this so that the content is always in one line */
		overflow hidden
		white-space nowrap
	}
}

// style when menu is pinned
.main-app.pinned {
	.footer {
		.label {
			@media phonePortrait {
				display none
			}
		}
	}
}