// FOOTER
.footer {
	background-color mainColour
	height footerHeight
	width 100%

	.label {
		color white
		text-align center
		font-size 62% // 10px
		padding-top 8px
		
		/*On mobile, this is two lines when going from pinned to unpinned
	      state. Add this so that the content is always in one line */
		overflow hidden
		white-space nowrap
	}
}

// style when menu is pinned
@media phonePortrait {
	.main-app.pinned .footer .label {
		display none
	}
}