.gallery {
	font-family: SourceSansPro

	.background {
		background-image url('images/background-gallery.png')
	}

	.gallery-container {
		display table
		margin 10px auto
		
		
	}
}

@media (max-width: 550px) {
	.gallery {
		
	}
}