// HEADER
.header {
	height headerHeight
	color white
	fixed top 0 right 0 left 0
	z-index 2
	transition all animDuration

	.header-content {
		.logo {
			display inline-block
			background-image url('images/logo.png')
			background-size cover
			width 150px
			height headerHeight
			absolute left 3%
		}
		
		.hamburger-icon {
			display none
		}

		@media phone {
			.hamburger-icon {
				absolute top 0 right 0 bottom 0
				padding 14px 20px
				vertical-align middle
				display block
			}
		}
	}
}

.black-header-background {
	fixed top right left
	height headerHeight
	background-color black
}

@media phone {
	.main-app.pinned .logo {
		display none
	}
	
	.main-app.pinned .header {
		right menuWidth
	}
}