// HEADER
.header {
	height headerHeight
	border-bottom 1px solid black
	color white
	position relative
	background: rgba(0, 0, 0, 0.60);
	z-index 1

	.header-content {
		.logo {
			display inline-block
			background-image url('static/images/logo.png')
			background-size cover
			width 170px
			height headerHeight
			position absolute
		}
		
		.menu-button {
			display none
		}

		@media phoneLandscape {
			.menu-button {
				absolute top 0 right 0
				padding 14px 20px
				vertical-align middle
				display block
			}
		}
	}
}

@media phoneLandscape {
	.main-app.pinned .logo {
		display none
	}
}