.highlights {
	font-family: SourceSansPro

	.background {
		background-image url('images/background/highlights.jpg')
		background-size 1368px 400px
		background-repeat no-repeat
	}

	.highlight-container {
		display table
		margin 10px auto
		text-align center
		max-width 700px
		
		.highlight {
			border 1px solid defaultBlue
			margin 10px 10px 20px 10px
			
			.name {
				font-size 150%
				background defaultBlue
				padding 5px 10px
				margin 2px
			}
			
			.photo {
				margin 10px auto
				background-position center
				background-size cover
				border 1px solid black
				height 375px
				width 350px

				&.jonathan {
					background-image url('images/highlights/jonathan.jpg')
				}
				&.sidhanath {
					background-image url('images/highlights/sidhanath.jpg')
				}
				&.saili {
					background-image url('images/highlights/saili.jpg')
					background-position top
				}
				&.blaze {
					background-image url('images/highlights/blaze.jpg')
					height 400px
					width 400px
				}
				
				@media (max-width: 600px) {
					height 300px
					width 275px
					
					&.blaze {
						height 300px
						width 300px
					}
				}
			}
			
			.blaze-menu {
				color #00abfc
				padding-bottom 10px
				font-size 120%
				
				&:hover {
					text-decoration underline
				}
			}

			.description {
				max-width 700px
				text-align justify
				border-top 1px solid defaultBlue
				padding 15px
				font-size 110%
				
				.more-details .here {
					padding-top 15px
					padding-left 5px
					color #00abfc
					&:hover {
						text-decoration underline
					}
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.highlights .highlight-container {
		border-width 0px
	}
}

@media (max-width: 600px) {
	.highlights {
		font-size: 12px
	}
}