.home {
	background-image url('images/background-home.png')
	background-size cover
	background-position center 0
	color white
	text-align center
	display table
	width 100%
	height 100%
	
	.home-inner {
		display table-cell
		vertical-align middle
	}
	
	.home-header{
		height headerHeight
		color white
		fixed top 0 right 0 left 0
		background rgba(0, 0, 0, 0.7)
	}
	
	.tagline {
		font-size 225% // 36px
	    padding headerHeight 0px 30px 0px
	    text-shadow black 2px 2px 2px
	}
	
	.event-details {
		padding 15px 0px 20px 0px;
		background rgba(0, 0, 0, 0.5)
		width 350px
		margin 20px auto
		
		.title {
			font-size 187% //30px
		}
	}
	
	.button-container {
		padding-top 30px
		padding-bottom 5px
		
		.button {
			background defaultBlue
			border-radius 2px
		    padding 8px 30px
		    font-size 125% //20px
		}
		
		.register-button {
			margin-right 10px
		}
	}
	
	.footer {
		display table-row
	}
}

@media (max-width: 640px) {
	.home {
		.tagline {
			font-size 125% //20px
		}
		.event-details  {
			width 250px 
			padding 5px 0px 10px 0px
			
			.title {
				font-size 150% // 24px
			}
		}
		.button-container {
			padding-top 50px
			.button {
				padding 8px 25px
			}
		}
	}
}

@media (max-height: 500px) {
	.home {
		.tagline {
			padding headerHeight 0px 15px 0px
		}
		.event-details {
			margin 5px auto
			padding 2px 0 5px 0
		}
		.button-container {
			padding-top 25px
			.button {
				padding 5px 20px
			}
		}
	}
}

@media (max-height: 400px) {
	.home {
		font-size 14px
		
		.tagline {
			padding headerHeight 0px 0px 0px
			font-size 135%
		}
		.event-details {
		    width: 200px;
			font-size 80%
		}
		.button-container {
			padding-top 0px
		}
	}
}