// MENU
.menu-container {
	absPos(0, 0, footerHeight, null)
	width 0px
	
	.menu-container .button {
		display block
		width 100%
		height headerHeight
		border-bottom 1px solid white
	}
}
.menu-container.pinned {
	width 200px
	background-color red
}

.menu-container button {
	width 200px
	background-color red
}