// MENU
.menu-container {
	fixed top 0 right 0 bottom 0
	width 0
	transition width 500ms
	border-left 1px solid white
	background-color mainColour
	overflow-y auto
	overflow-x hidden
	
	.button {
		display block
		width 100%
		height headerHeight
		background-color mainColour
		font-size 32px
	}
}

// style when menu is pinned
.mainApp.pinned .menu-container {
	width menuWidth
}
