// ********* Web version *********
.menu-container.web {
	display inline-block
	absolute right 0
	height 100%
	
	.button {
		font-size 20px
		padding 1px 15px
		vertical-align middle
		height 100%
	}
}

// as the width of browser decreases, reduce font/padding on buttons
reducePadding = "(max-width: 800px)";
@media reducePadding {
	.menu-container.web .button {
		padding 1px 10px
	}
}
reduceFontPadding = "(max-width: 750px)";
@media reduceFontPadding {
	.menu-container.web .button {
		padding 1px 8px
		font-size 17px
	}
}

// ********* Mobile version *********
.menu-container.mobile {
	fixed top 0 right 0 bottom 0
	width 0
	transition all animDuration
	background-color mainColour
	overflow-y auto
	overflow-x hidden
	display none
	
	.button {
		display block
		width 100%
		height headerHeight
		background-color mainColour
		font-size 32px
	}
}

// style when menu is pinned
.main-app.pinned .menu-container.mobile {
	width menuWidth
}

// In phone mode, hide web version and display mobile version
@media phoneLandscape {
	.menu-container.web {
		display none
	}
	.menu-container.mobile { 
		display block 
	}
}