.past-events {
	.background {
		background-image url('images/background-events.png')
	}
	
	.past-events-container {
		display table
		width 100%
		
		.past-events-container-inner {
			display table-cell
			text-align center
			vertical-align middle
			
			.page-details {
				display inline-block
				font-family: SourceSansPro
				font-size 125%
				margin: 20px 0px 10px 0px
			}
		}
	}

	.footer {
		position relative
	}
}